@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    BookStore is a sample application built with Taro framework.<br />
    Taro is a simple CQRS framework without Event Sourcing.
</p>
<p>
    Project page: <a href="https://bitbucket.org/sym1987/taro" target="_blank">https://bitbucket.org/sym1987/taro</a>
</p>
<p>
    The Mercurial source repository can be found here:<br />
    <code>
        $ hg clone https://bitbucket.org/sym1987/taro
    </code>
</p>
