@{
    ViewBag.Title = "Website Statistics";
}

<h2>Website Statistics</h2>

<table style="width:100%">
    <tr>
        <th style="width:150px">Total Books:</th>
        <td>
            @ViewBag.TotalBooks
        </td>
    </tr>
    <tr>
        <th>Total Users:</th>
        <td>
            @ViewBag.TotalUsers
        </td>
    </tr>
</table>