@model IEnumerable<Message>

@{
    ViewBag.Title = "My Messages";
}

<h2>My Messages</h2>

<table style="width:100%">
    <tr>
        <th>
            Content
        </th>
        <th style="width:200px">
            Sent Time
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentTime)
        </td>
    </tr>
}

</table>
